/* Global Stlyes  */

.App {
  background: #1f272d;
}

body {
  font-size: 125%;
  font-family: 'Raleway', sans-serif;
  color: white; 
  line-height: 1.5;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}




