.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.map {
    position: relative;
    width: 70%;
}

img {
    width: 100%;
    display: block;
}


.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* background:rgba(255, 0, 0, .5); */
    position: absolute;  
}

.circle:before{
    content: "Goderich";
    display: none;
}

.circle:hover::before {
    display: block;
}


