.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.map {
    position: relative;
    width: 70%;
}

img {
    width: 100%;
    display: block;
}


.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background:rgba(255, 0, 0, .5);
    position: absolute;
    
}
.Goderich {
    top: 50%;
    right: 20%;
}

.Kincardine {
    top: 60%;
    right: 30%;
}

